<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
</head>
    <body>
          <h1>Welcome to Pantry!</h1>
          <p>Please <a href="/auth/sign-in">sign in</a> to access your pantry.</p>
          <p><a href="/auth/sign-up">sign up</a> sign up to create an account.</p>
</body>
</html>
