<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= user.username %>'s Pantry</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>

    <h1><%= user.username %>'s Pantry</h1>

    <% if (user.foods.length > 0) { %>
      <ul>
        <% user.foods.forEach((food) => { %>
          <li><%= food.name %></li>
        <% }) %>
      </ul>
    <% } else { %>
      <p>There are no items in this pantry.</p>
    <% } %>

    <a href="/users">Back to Community</a>

  </body>
</html>
